.app-pagination
    display flex
    flex-direction row
    width 100%
    flex-wrap wrap
    justify-content center
    align-items center
    .page-num, .three-dots
        display flex
        padding 4px 7px
        justify-content center
        align-items center
        border-radius 50%
        border 1px solid lightcoral
        margin 3px
        cursor pointer
        color #fff
        background lightcoral
        &.active
            background maroon
        &:hover 
            background lightslategray
        