.member-name
    &:hover
        cursor pointer
.member-wrapper
    display flex
    flex-wrap wrap
    justify-content center
.filters
    display flex
    flex-wrap wrap
    margin 10px
    .filter-pill
        border-radius 20px 
        padding 2px 8px
        color #fff
        justify-content center
        align-items center
        cursor pointer
        background #d76a41
.page-nav
    display flex
    align-items center